<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  email: <input text="text" id="email" name="email">
  password: <input text="text" id="password" name="password">
  <input type="submit" value="Log In">
</form>
